* {
margin: 0px;
padding: 0px;
}

body{
	background: radial-gradient(#4CAF50, #009688);
	height: 100vh;
}	

	#bonds .fieldsLinker  .FL-right  li{
        position: relative;
	}
  .signImg{
         position: absolute;
         left:5px;
         top:50%;
         transform:translateY(-50%);
	}


	.mainContainer{
		padding:15px;
		max-width:960px;
		margin:auto;	
	}

#header .logo h3 {
flex-grow: 1;
text-align: right;
font-family: cursive;
font-size: 28px;
color: #fff;
margin-top:0px;
}
#header .logo {
margin: 0px auto;
display: flex;
align-items: center;
}
#header {
margin-bottom: 25px;
}

@media screen and (max-width: 500px) {
.dropSuggestions{flex-wrap:wrap;}
#header .logo  img{width:100px;}
#header .logo h3{font-size:17px; }
} 
/*  // media quesry end here...*/